.login-body {
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 100vh;
    background-color: #e5e5e5;
    font-family: Montserrat-Medium, Verdana, Geneva, Tahoma, sans-serif;
    color: #5e5873;
}

.login-container {
    display: flex;
    margin: auto;
    background-color: white;
}

.img-group {
    display: flex;
    width: 68%;
    height: 100vh;
    background-color: white;
    justify-content: center;
    align-self: center;
}

img {
    display: flex;
    width: 89.67%;
    height: auto;
    align-self: center;
}

.login-form {
    width: auto;
    height: 100vh;
    margin: auto 55.25px;
    background: white;
    align-items: center;
    display: flex;
}

.align-form {
    display: block;
}

.text-header {
    position: relative;
    color: #5e5873;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.word-wrap {
    padding: 8px;
    word-break: break-all;
}

.btn {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 50px;
    background: #7367f0;
    color: white;
    border-radius: 6px;
    border: 1px;
    font-weight: 500;
    line-height: 17.07px;
    font-size: 1rem;
}

.form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.form-control {
    margin-top: 5px;
    border: 1px solid #d8d6de;
    box-sizing: border-box;
    border-radius: 6px;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-check-inline {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.form-check-input {
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
    border: 1px solid #d8d6de;
    box-sizing: border-box;
    border-radius: 4px;
}

.forgot-password {
    display: flex;
    width: 100%;
}

.forgot-password a {
    margin-left: auto;
    text-decoration: none;
}
